<nav class="bg-white shadow-md p-4">
    <div class="container mx-auto flex justify-between items-center">
      <h1 class="text-2xl font-bold">BudgetProyect</h1>
      <div>
        <a href="{% url 'main' %}" class="text-blue-500 font-medium hover:underline">About Us</a>
        <a href="{% url 'account_profile' %}" class="ml-4 text-gray-600 hover:text-blue-500">Profile</a>
        <a href="{% url 'transactions' %}" class="ml-4 text-gray-600 hover:text-blue-500">Transactions</a>        
        <a href="#" class="ml-4 text-gray-600 hover:text-blue-500">Log out</a>
      </div>
    </div>
  </nav> 